main {
    /*
        change background of the page to grey
        set minihum and fallback css variable
    */
    background-color: grey;
    /* height: 100vh;
    min-height: 100dvh; */
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: sticky;
}

* {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}

a[target] {
    background-color: yellow;
}

#meetingdetails {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: auto;
}

#agenda {
    display: grid;
    grid-template-rows: auto;

    margin: 2vh 2vh 2vh 3vh
}

#image {
    display:inline;
    height: 400px;
    width: 700px;
    min-width: 60vw;
    max-width: 100vw;

    padding: 3em 2em 2em 2em
}

#media {
    background-color: color-mix(in srgb, #34c9eb 20%, white);
    margin-left: 20px;
}

video {
    display: block;
}

audio {
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 2mm;
}

summary {
    color: color(display-p3 1 1 1.5);
}

.agenda .agendaList {
    color:#024757
}

.unfinishedBus > .unfinishedBusList {
    color: rgb(59, 3, 29);
}

div + p {
    padding-left: 20px;
    background-color: yellow;
}

span ~ p {
    background-color: bisque;
}

h2:has(+ h3) {
    color: beige;
}

li.checkbox:hover{
    font-size: 20px;
}

.business {
    color: white;
    & .ui {
        font-size: 100px;
    }
}

form {
    /*
        Border stying, color, width, and radius
        Set margins, and padding
    */
    border-style: dashed;
    border-color: rgb(100,200,200);
    border-width: 0.2cm;
    border-radius: 1cm;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;

    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 300px;
    margin-left: 10px;
}


.firstLast, #animals {
    text-align: left;
    color: #F21345;
}

.birthdate {
    text-decoration:underline;
}

.checkbox:hover {
    color: hsl(204, 91%, 50%);
}

button:active {
    box-shadow: 2px 2px 5px black;
}

.bottomText {
    position: absolute;
}

fieldset {
    border-color: transparent;
}